html {
  // scrollbar-width: thin;
  // scrollbar-color: var(--colors-green-500-primary, #2ea84f)
  //   var(--colors-white, #fff);

  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px; /* Ширина всего элемента навигации */
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color, rgb(245, 245, 245)); /* Цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background: var(--link-hover, rgb(129, 189, 82));
    /* Цвет бегунка */
    // border-radius: 20px; /* Округление бегунка */
    // border: 3px solid var(--colors-white, #fff); /* Оформление границ бегунка */
  }
}

body,
input,
textarea,
button {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  background: var(--bg-color, #f5f5f5);
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

img,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:active,
a:visited {
  color: var(--colors-text, rgb(65, 70, 72));
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.prohibit-transition {
  pointer-events: none;
}

.content-container {
  width: min(95%, var(---width, 1366px));
  padding: 50px;

  @media (max-width: 719px) {
    // width: min(93%, var(---width, 1366px));
    width: calc(100% - 50px);
    padding: 50px 25px;
  }

  @media (max-width: 370px) {
    width: calc(100% - 24px);
    padding: 50px 12px;
  }
}

.btn {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 1.125rem 2rem;
  background: var(--link-hover, rgb(129, 189, 82));
  border: none;
  border-radius: 1.1875rem;
  transition: background 0.3s ease 0s;

  &:hover {
    background: var(--btn-hover, rgb(112, 185, 56));
  }

  &,
  &:active,
  &:visited {
    color: var(--colors-white, rgb(255, 255, 255));
  }
}

.content {
  &::after {
    content: "";
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510.4 1453.9" style="enable-background:new 0 0 510.4 1453.9;" xml:space="preserve"><path class="st0" d="M451-35.1l59.5,35.2l-430.1,727H0L451-35.1z" fill="%23e6f2dc"/><path class="st0" d="M451,1489.2l59.5-35.2l-430.1-727H0L451,1489.2z" fill="%23e6f2dc" /></svg>');

    // background-size: cover;
    background-repeat: repeat-y;
    pointer-events: none;
    z-index: -1; /* Для отправки фона за контент */
  }

  &.content-1 {
    &::after {
      -webkit-animation: slideIn-1 3s infinite alternate forwards;
      animation: slideIn-1 3s infinite alternate forwards;
      @media (max-width: 850px) {
        -webkit-animation: slideIn-1-mobile 3s infinite alternate forwards;
        animation: slideIn-1-mobile 3s infinite alternate forwards;
      }
    }
  }

  &.content-2 {
    &::after {
      -webkit-animation: slideIn-2 3s infinite alternate forwards;
      animation: slideIn-2 3s infinite alternate forwards;
      @media (max-width: 850px) {
        -webkit-animation: slideIn-2-mobile 3s infinite alternate forwards;
        animation: slideIn-2-mobile 3s infinite alternate forwards;
      }
    }
  }

  &.content-3 {
    &::after {
      -webkit-animation: slideIn-3 3s infinite alternate forwards;
      animation: slideIn-3 3s infinite alternate forwards;
    }
    @media (max-width: 850px) {
      display: none;
    }
  }

  &.content-4 {
    &::after {
      -webkit-animation: slideIn-4 3s infinite alternate forwards;
      animation: slideIn-4 3s infinite alternate forwards;
    }
    @media (max-width: 850px) {
      display: none;
    }
  }
}

.content-r {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510.4 1463.6" style="enable-background:new 0 0 510.4 1463.6;" xml:space="preserve"><path class="st0" d="M59.5-35.4L0,0l430.1,731.7h80.3L59.5-35.4z" fill="%23e6f2dc"/><path class="st0" d="M59.5,1498.9L0,1463.5l430.1-731.7h80.3L59.5,1498.9z" fill="%23e6f2dc" /></svg>');
    background-repeat: no-repeat;
    // background-position: calc(-100% + 100px) 0px;
    pointer-events: none;

    /*   background-size: cover; */
    z-index: -2; /* Для отправки фона за контент */
  }

  &.content-r-1 {
    &::after {
      -webkit-animation: slideIn-r-1 3s infinite alternate forwards;
      animation: slideIn-r-1 3s infinite alternate forwards;
    }

    @media (max-width: 850px) {
      display: none;
    }
  }

  &.content-r-2 {
    &::after {
      -webkit-animation: slideIn-r-2 3s infinite alternate forwards;
      animation: slideIn-r-2 3s infinite alternate forwards;
    }

    @media (max-width: 850px) {
      display: none;
    }
  }

  &.content-r-3 {
    &::after {
      -webkit-animation: slideIn-r-3 3s infinite alternate forwards;
      animation: slideIn-r-3 3s infinite alternate forwards;

      @media (max-width: 850px) {
        -webkit-animation: slideIn-r-3-mobile 3s infinite alternate forwards;
        animation: slideIn-r-3-mobile 3s infinite alternate forwards;
      }
    }
  }

  &.content-r-4 {
    &::after {
      -webkit-animation: slideIn-r-4 3s infinite alternate forwards;
      animation: slideIn-r-4 3s infinite alternate forwards;

      @media (max-width: 850px) {
        -webkit-animation: slideIn-r-4-mobile 3s infinite alternate forwards;
        animation: slideIn-r-4-mobile 3s infinite alternate forwards;
      }
    }
  }
}

@keyframes slideIn-1 {
  0% {
    background-position: calc(100% - 250px) 0;
  }
  100% {
    background-position: calc(100% - 250px) 0;
  }
}

@keyframes slideIn-2 {
  0% {
    background-position: calc(100% - 100px) 0;
  }
  100% {
    background-position: calc(100% - 100px) 0;
  }
}

@keyframes slideIn-3 {
  0% {
    background-position: calc(100% + 50px) 0;
  }
  100% {
    background-position: calc(100% + 50px) 0;
  }
}

@keyframes slideIn-4 {
  0% {
    background-position: calc(100% + 200px) 0;
  }
  100% {
    background-position: calc(100% + 200px) 0;
  }
}

@keyframes slideIn-r-1 {
  0% {
    background-position: calc(0% - 325px) 950px;
  }
  100% {
    background-position: calc(0% - 525px) 950px;
  }
}

@keyframes slideIn-r-2 {
  0% {
    background-position: calc(0% - 325px) 950px;
  }
  100% {
    background-position: calc(0% - 375px) 950px;
  }
}

@keyframes slideIn-r-3 {
  0% {
    background-position: calc(0% - 325px) 950px;
  }
  100% {
    background-position: calc(0% - 225px) 950px;
  }
}

@keyframes slideIn-r-4 {
  0% {
    background-position: calc(0% - 325px) 950px;
  }
  100% {
    background-position: calc(0% - 75px) 950px;
  }
}

@keyframes slideIn-1-mobile {
  0% {
    background-position: calc(100% + 70px) 0;
  }
  100% {
    background-position: calc(100% + 0px) 0;
  }
}

@keyframes slideIn-2-mobile {
  0% {
    background-position: calc(100% + 70px) 0;
  }
  100% {
    background-position: calc(100% + 135px) 0;
  }
}

@keyframes slideIn-r-3-mobile {
  0% {
    background-position: calc(0% - 105px) 525px;
  }
  100% {
    background-position: calc(0% - 40px) 525px;
  }
}

@keyframes slideIn-r-4-mobile {
  0% {
    background-position: calc(0% - 105px) 525px;
  }
  100% {
    background-position: calc(0% - 175px) 525px;
  }
}
