//Вернуться к верху
.back-to-top {
  position: fixed;

  display: inline-flex;
  bottom: 32px;
  right: -52px;
  padding: 5px;
  //   padding: 13px;
  align-items: flex-start;

  cursor: pointer;
  z-index: 20;

  border-radius: 32px;
  background: var(--link-hover, rgb(129, 189, 82));
  transition: right 0.5s ease;
  @media (max-width: 719px) {
    bottom: 136px;
  }

  &::before {
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.414%22%20clip-rule%3D%22evenodd%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%2C0l0%2C32l32%2C0l0%2C-32l-32%2C0Z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22nonzero%22%20d%3D%22M16.196%2C15.019c0.063%2C0.019%200.128%2C0.031%200.188%2C0.056c0.163%2C0.068%200.191%2C0.107%200.325%2C0.217l8.005%2C8.005c0.041%2C0.051%200.088%2C0.098%200.124%2C0.152c0.291%2C0.435%200.166%2C1.092%20-0.276%2C1.388c-0.328%2C0.219%20-0.784%2C0.219%20-1.112%2C0c-0.054%2C-0.036%20-0.101%2C-0.083%20-0.151%2C-0.125l-7.298%2C-7.297l-7.297%2C7.297l-0.152%2C0.125c-0.057%2C0.031%20-0.112%2C0.067%20-0.173%2C0.092c-0.423%2C0.176%20-0.955%2C0.02%20-1.215%2C-0.368c-0.219%2C-0.328%20-0.219%2C-0.784%200%2C-1.112c0.037%2C-0.054%200.083%2C-0.101%200.125%2C-0.152l8.005%2C-8.005c0.05%2C-0.041%200.097%2C-0.088%200.151%2C-0.124c0.11%2C-0.073%200.232%2C-0.124%200.361%2C-0.149c0.128%2C-0.026%200.26%2C-0.013%200.39%2C0Zm0%2C-8.005c0.063%2C0.019%200.128%2C0.032%200.188%2C0.057c0.163%2C0.067%200.191%2C0.107%200.325%2C0.216l8.005%2C8.005c0.041%2C0.051%200.088%2C0.098%200.124%2C0.152c0.255%2C0.381%200.206%2C0.933%20-0.124%2C1.263c-0.325%2C0.325%20-0.88%2C0.381%20-1.264%2C0.125c-0.054%2C-0.036%20-0.101%2C-0.083%20-0.151%2C-0.125l-7.298%2C-7.297l-7.297%2C7.297l-0.152%2C0.125c-0.057%2C0.031%20-0.112%2C0.067%20-0.173%2C0.092c-0.424%2C0.176%20-0.959%2C0.015%20-1.215%2C-0.368c-0.219%2C-0.328%20-0.219%2C-0.784%200%2C-1.112c0.037%2C-0.054%200.083%2C-0.101%200.125%2C-0.152l8.005%2C-8.005c0.05%2C-0.041%200.097%2C-0.088%200.151%2C-0.124c0.11%2C-0.073%200.232%2C-0.124%200.361%2C-0.149c0.128%2C-0.026%200.26%2C-0.013%200.39%2C0Z%22%2F%3E%3C%2Fsvg%3E");
    width: 24px;
    height: 24px;
  }

  &.visible {
    right: 32px;
  }
  &.mobile {
    right: -52px;
  }

  &:hover {
    background: var(--btn-hover, rgb(112, 185, 56));
  }
}
