:root {
  //PARAMETRS
  //global
  ---width: 1500px;

  //COLORS
  //global
  --bg-color: rgb(119, 119, 119);
  --footer-bg-color: rgb(65, 70, 72);

  ---black: #2b2b2b;

  --colors-white: rgb(255, 255, 255);
  --colors-text: rgb(65, 70, 72);
  --link-hover: rgb(129, 189, 82);
  --colors-green-500-primary: rgb(46, 168, 79);
}
