:root {
  //PARAMETRS
  //global
  ---width: 1500px;

  //COLORS
  //global
  --bg-color: rgb(255, 255, 255);
  --bg-color-opacity: rgb(255, 255, 255, 0.7);
  --footer-bg-color: rgb(65, 70, 72);
  --footer-bg-color-opacity: rgb(65, 70, 72, 0.2);
  --form-color: rgb(160, 163, 163);

  ---black: rgb(43, 43, 43);

  --colors-white: rgb(255, 255, 255);
  --colors-gray-100: rgb(247, 247, 247);
  --colors-gray-200: rgb(229, 228, 226);
  --colors-text: rgb(65, 70, 72);
  --link-hover: rgb(129, 189, 82);
  --link-hover-opacity: rgb(129, 189, 82, 0.2);
  --btn-hover: rgb(112, 185, 56);
  --colors-green-500-primary: rgb(46, 168, 79);
}
