:root {
  //PARAMETRS
  //global
  ---width: 1500px;

  //COLORS
  //global
  --bg-color: #f5f5f5;

  ---black: #2b2b2b;

  --colors-white: #fff;
  --colors-text: rgb(65, 70, 72);
  --link-hover: rgb(129, 189, 82);
  --colors-green-500-primary: #2ea84f;
}
