.common-template {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}
.common-template .home-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .home-tab .home-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
}
.common-template .home-tab .home-tab-container .home-tab-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 18px;
}
@media (max-width: 850px) {
  .common-template .home-tab .home-tab-container .home-tab-content {
    flex: unset;
    width: 100%;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab__header {
  margin: 0;
  padding: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 67px;
  font-weight: 700;
  line-height: 101px;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .home-tab .home-tab-container .home-tab-content .home-tab__header {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 850px) {
  .common-template .home-tab .home-tab-container .home-tab-content .home-tab-box {
    gap: 24px;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab-box .home-tab__p {
  padding: 0;
  margin: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  opacity: 0.8;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .home-tab .home-tab-container .home-tab-content .home-tab-box .home-tab__p {
    font-size: 16px;
  }
}
.common-template .about-list-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .about-list-tab .about-list-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 50px 100px;
}
@media (max-width: 1020px) {
  .common-template .about-list-tab .about-list-tab-container {
    gap: 50px;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container {
    justify-content: center;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  flex: 1 1 calc(33% - 200px);
  max-width: 400px;
  position: relative;
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box {
    flex: unset;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box {
    min-width: 250px;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header {
    gap: 12px;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header .about-list__img-container {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header .about-list__year {
  text-wrap: nowrap;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__content-p {
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 14px;
  line-height: 180%;
  text-align: justify;
  padding: 0;
  margin: 0;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box {
  position: absolute;
  top: 0;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.mobile {
  display: none;
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.desk {
    display: none;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.mobile {
    display: unset;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-1 {
  top: 10px;
  left: -120px;
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-1 {
    transform: rotate(22deg);
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-2 {
  top: 30px;
  left: -100px;
}
@media (max-width: 1349px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-2 {
    display: none;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-2 {
    display: unset;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-3 {
  top: 10px;
  right: -80px;
}
@media (max-width: 1349px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-3 {
    right: 0;
    left: -90px;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-4 {
  top: 10px;
  left: -100px;
}
@media (max-width: 1349px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-4 {
    top: 0px;
    left: -90px;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-4 {
    top: 20px;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-5 {
  top: -10px;
  left: -90px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-6 {
  top: 10px;
  left: -100px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .about-list__header .about-list__img-container {
  background: rgb(129, 189, 82);
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .about-list__header .about-list__year {
  color: rgb(129, 189, 82);
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box {
    top: -5px;
    right: 60px;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box.arrow-2 {
    top: -35px;
    right: 10px;
    left: unset;
    transform: rotate(105deg);
  }
}
@media (max-width: 850px) and (max-width: 420px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box.arrow-2 {
    top: -45px;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box.arrow-7 {
    top: -30px;
    right: 85px;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header {
    justify-content: flex-end;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header .about-list__img-container {
  background: rgb(63, 127, 28);
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header .about-list__year {
  color: rgb(63, 127, 28);
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .arrow-box {
    left: 50px;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .arrow-box.arrow-1 {
    left: 30px;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .arrow-box.arrow-3 {
    width: 84px;
    height: 55px;
    top: -5px;
    transform: rotate(55deg);
  }
}
.common-template .services-tab,
.common-template .services-drop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .services-tab .services-tab-container,
.common-template .services-tab .services-drop-container,
.common-template .services-drop .services-tab-container,
.common-template .services-drop .services-drop-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
}
.common-template .services-tab .services-tab-container .services-tab-content,
.common-template .services-tab .services-tab-container .services-drop-content,
.common-template .services-tab .services-drop-container .services-tab-content,
.common-template .services-tab .services-drop-container .services-drop-content,
.common-template .services-drop .services-tab-container .services-tab-content,
.common-template .services-drop .services-tab-container .services-drop-content,
.common-template .services-drop .services-drop-container .services-tab-content,
.common-template .services-drop .services-drop-container .services-drop-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 18px;
}
@media (max-width: 850px) {
  .common-template .services-tab .services-tab-container .services-tab-content,
  .common-template .services-tab .services-tab-container .services-drop-content,
  .common-template .services-tab .services-drop-container .services-tab-content,
  .common-template .services-tab .services-drop-container .services-drop-content,
  .common-template .services-drop .services-tab-container .services-tab-content,
  .common-template .services-drop .services-tab-container .services-drop-content,
  .common-template .services-drop .services-drop-container .services-tab-content,
  .common-template .services-drop .services-drop-container .services-drop-content {
    flex: unset;
    width: 100%;
  }
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab__header,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab__header,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab__header,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab__header,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab__header,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab__header,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab__header,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab__header {
  margin: 0;
  padding: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 67px;
  font-weight: 700;
  line-height: 101px;
}
@media (max-width: 850px) {
  .common-template .services-tab .services-tab-container .services-tab-content .services-tab__header,
  .common-template .services-tab .services-tab-container .services-drop-content .services-tab__header,
  .common-template .services-tab .services-drop-container .services-tab-content .services-tab__header,
  .common-template .services-tab .services-drop-container .services-drop-content .services-tab__header,
  .common-template .services-drop .services-tab-container .services-tab-content .services-tab__header,
  .common-template .services-drop .services-tab-container .services-drop-content .services-tab__header,
  .common-template .services-drop .services-drop-container .services-tab-content .services-tab__header,
  .common-template .services-drop .services-drop-container .services-drop-content .services-tab__header {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
  }
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 850px) {
  .common-template .services-tab .services-tab-container .services-tab-content .services-tab-box,
  .common-template .services-tab .services-tab-container .services-drop-content .services-tab-box,
  .common-template .services-tab .services-drop-container .services-tab-content .services-tab-box,
  .common-template .services-tab .services-drop-container .services-drop-content .services-tab-box,
  .common-template .services-drop .services-tab-container .services-tab-content .services-tab-box,
  .common-template .services-drop .services-tab-container .services-drop-content .services-tab-box,
  .common-template .services-drop .services-drop-container .services-tab-content .services-tab-box,
  .common-template .services-drop .services-drop-container .services-drop-content .services-tab-box {
    gap: 24px;
  }
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__p,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__p,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__p,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__p,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__p,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__p,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__p,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__p {
  padding: 0;
  margin: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  opacity: 0.8;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__p,
  .common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__p,
  .common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__p,
  .common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__p,
  .common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__p,
  .common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__p,
  .common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__p,
  .common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__p {
    font-size: 16px;
  }
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn {
  display: flex;
  color: var(--link-hover, rgb(129, 189, 82));
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  gap: 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn::after,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn::after {
  content: url('data:image/svg+xml;utf8,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L11.7735 0H0.226497L6 10ZM5 0V1H7V0H5Z" fill="%2381bd52"/></svg>');
  transition: transform 0.3s ease;
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn.active::after,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn.active::after {
  content: url('data:image/svg+xml;utf8,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L11.7735 0H0.226497L6 10ZM5 0V1H7V0H5Z" fill="%2381bd52"/></svg>');
  transform: rotate(180deg);
}
.common-template .services-tab .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-tab .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-tab .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-tab .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-drop .services-tab-container .services-tab-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-drop .services-tab-container .services-drop-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-drop .services-drop-container .services-tab-content .services-tab-box .services-tab__drop-btn:hover,
.common-template .services-drop .services-drop-container .services-drop-content .services-tab-box .services-tab__drop-btn:hover {
  opacity: 0.7;
}
.common-template .services-drop {
  display: none;
}
@media (max-width: 850px) {
  .common-template .services-drop {
    margin-top: 70px;
  }
}
.common-template .services-drop .services-drop-container {
  flex-direction: column;
  gap: 85px;
}
.common-template .services-drop .services-drop-container .services-drop-box {
  display: flex;
}
.common-template .services-drop .services-drop-container .services-drop-box:nth-child(even) {
  justify-content: flex-end;
}
@media (max-width: 850px) {
  .common-template .services-drop .services-drop-container .services-drop-box {
    flex-direction: column;
  }
}
.common-template .services-drop .services-drop-container .services-drop-content {
  flex: unset;
  width: 50%;
}
@media (max-width: 850px) {
  .common-template .services-drop .services-drop-container .services-drop-content {
    width: unset;
  }
}
.common-template .services-drop .services-drop-container .services-drop-content .services__btn {
  display: flex;
  gap: 10px;
  max-width: 250px;
}
.common-template .services-drop .services-drop-container .services-drop-content .services__btn.agency::before {
  content: url('data:image/svg+xml;utf8,<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.5 6.25V10C30.5 10.69 29.94 11.25 29.25 11.25H3V21.25C3 23.3175 4.6825 25 6.75 25H16.75C17.44 25 18 25.56 18 26.25C18 26.94 17.44 27.5 16.75 27.5H6.75C3.30375 27.5 0.5 24.6963 0.5 21.25V6.25C0.5 2.80375 3.30375 0 6.75 0H24.25C27.6963 0 30.5 2.80375 30.5 6.25ZM28 6.25C28 4.1825 26.3175 2.5 24.25 2.5H6.75C4.6825 2.5 3 4.1825 3 6.25V8.75H28V6.25ZM18 15.375V19.625C18 21.2125 16.7125 22.5 15.125 22.5H13.25C12.6975 22.5 12.25 22.0525 12.25 21.5V13.5C12.25 12.9475 12.6975 12.5 13.25 12.5H15.125C16.7125 12.5 18 13.7875 18 15.375ZM16 15.375C16 14.8925 15.6075 14.5 15.125 14.5C14.6425 14.5 14.25 14.5 14.25 14.5V20.5025C14.25 20.5025 14.6425 20.5025 15.125 20.5025C15.6075 20.5025 16 20.11 16 19.6275V15.3775V15.375ZM9.68125 13.9913L11.2075 21.425C11.3213 21.98 10.8975 22.5 10.3312 22.5H10.3188C9.885 22.5 9.51375 22.1888 9.4375 21.7613L9.24125 20.6575H6.73375L6.52625 21.7688C6.4475 22.1925 6.0775 22.5 5.64625 22.5C5.08125 22.5 4.6575 21.9825 4.76875 21.4288L6.26875 13.9588C6.3975 13.2338 7.05375 12.5 8 12.5C8.94625 12.5 9.5325 13.155 9.6825 13.99L9.68125 13.9913ZM8.77 18.7513L7.9725 14.6325L7.1925 18.7513H8.76875H8.77ZM27.6062 20.335L23.8037 19.7013C23.3375 19.6238 22.9988 19.2238 22.9988 18.7513C22.9988 18.0625 23.56 17.5013 24.2488 17.5013H27.0837C27.5287 17.5013 27.9438 17.7413 28.1675 18.1263C28.5138 18.725 29.2787 18.93 29.875 18.5825C30.4737 18.2363 30.6775 17.4725 30.3312 16.875C29.6625 15.7188 28.4187 15.0013 27.0837 15.0013H26.7488V13.7513C26.7488 13.0613 26.1888 12.5013 25.4988 12.5013C24.8088 12.5013 24.2488 13.0613 24.2488 13.7513V15.0013C22.1813 15.0013 20.4987 16.6838 20.4987 18.7513C20.4987 20.4513 21.7162 21.8888 23.3925 22.1675L27.195 22.8013C27.6613 22.8788 28 23.2788 28 23.7513C28 24.44 27.4387 25.0013 26.75 25.0013H23.915C23.47 25.0013 23.055 24.7613 22.8312 24.3763C22.4862 23.7775 21.72 23.5725 21.1238 23.92C20.525 24.2663 20.3213 25.03 20.6675 25.6275C21.3363 26.7838 22.58 27.5013 23.915 27.5013H24.25V28.7513C24.25 29.4413 24.81 30.0013 25.5 30.0013C26.19 30.0013 26.75 29.4413 26.75 28.7513V27.5013C28.8175 27.5013 30.5 25.8188 30.5 23.7513C30.5 22.0513 29.2825 20.6138 27.6062 20.335Z" fill="white"/><path d="M27.6062 20.335L23.8037 19.7013C23.3375 19.6238 22.9988 19.2238 22.9988 18.7513C22.9988 18.0625 23.56 17.5013 24.2488 17.5013H27.0837C27.5287 17.5013 27.9438 17.7413 28.1675 18.1263C28.5138 18.725 29.2788 18.93 29.875 18.5825C30.4738 18.2363 30.6775 17.4725 30.3312 16.875C29.6625 15.7188 28.4187 15.0013 27.0837 15.0013H26.7488V13.7513C26.7488 13.0613 26.1888 12.5013 25.4988 12.5013C24.8088 12.5013 24.2488 13.0613 24.2488 13.7513V15.0013C22.1813 15.0013 20.4987 16.6838 20.4987 18.7513C20.4987 20.4513 21.7162 21.8888 23.3925 22.1675L27.195 22.8013C27.6613 22.8788 28 23.2788 28 23.7513C28 24.44 27.4388 25.0013 26.75 25.0013H23.915C23.47 25.0013 23.055 24.7613 22.8312 24.3763C22.4862 23.7775 21.72 23.5725 21.1238 23.92C20.525 24.2663 20.3213 25.03 20.6675 25.6275C21.3363 26.7838 22.58 27.5013 23.915 27.5013H24.25V28.7513C24.25 29.4413 24.81 30.0013 25.5 30.0013C26.19 30.0013 26.75 29.4413 26.75 28.7513V27.5013C28.8175 27.5013 30.5 25.8188 30.5 23.7513C30.5 22.0513 29.2825 20.6138 27.6062 20.335Z" fill="white"/><circle cx="7" cy="5.5" r="1.5" fill="white"/><circle cx="11" cy="5.5" r="1.5" fill="white"/><clipPath id="clip0_228_697"><rect width="30" height="30" fill="white" transform="translate(0.5)"/></clipPath><clipPath id="clip1_228_697"><rect width="30" height="30" fill="white" transform="translate(0.5)"/></clipPath></svg>');
  width: 31px;
  height: 30px;
}
.common-template .services-drop .services-drop-container .services-drop-content .services__btn.antifraud::before {
  width: 31px;
  height: 30px;
}
.common-template .services-drop .services-drop-container .services-drop-content .services__btn.adnetwork::before {
  content: url('data:image/svg+xml;utf8,<svg width="21" height="38" viewBox="0 0 21 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.43581 13.8901L1.37607 14.9499C1.0516 15.2743 0.989596 15.778 1.22568 16.1715L2.08734 17.6076C2.23753 17.8579 2.27085 18.1613 2.17853 18.4383L2.09824 18.6792C1.94087 19.1513 2.15459 19.6673 2.59971 19.8898L5.16337 21.1717C5.55603 21.368 5.77473 21.7974 5.70255 22.2305L4.85661 27.3061C4.83506 27.4354 4.83914 27.5677 4.86861 27.6954L6.26873 33.7626C6.30502 33.9198 6.37883 34.066 6.48386 34.1885L8.4649 36.4997C8.89615 37.0028 9.68863 36.955 10.0562 36.4036L10.156 36.2539C10.2655 36.0896 10.324 35.8966 10.324 35.6992V32.3527C10.324 32.1257 10.4013 31.9054 10.5431 31.728L12.1048 29.7759C12.2467 29.5986 12.324 29.3782 12.324 29.1512V29.002C12.324 28.4497 12.7717 28.002 13.324 28.002C13.8763 28.002 14.324 27.5542 14.324 27.002V25.2227C14.324 24.7923 14.5994 24.4101 15.0077 24.274L16.7528 23.6923C17.1042 23.5752 17.3621 23.2734 17.423 22.9081L17.824 20.502L18.6826 16.2087C18.767 15.7866 18.5719 15.3579 18.1982 15.1444L15.324 13.502L11.824 11.002L6.7908 7.34146C6.50192 7.13137 6.12291 7.09132 5.79649 7.23639L2.57147 8.66973C2.13662 8.863 1.89819 9.33594 2.00142 9.80047L2.70489 12.9661C2.77906 13.2998 2.67757 13.6484 2.43581 13.8901Z" stroke="white" stroke-width="2"/><path d="M14.7948 1.18333C13.3696 0.87775 11.8744 1.18211 10.6372 2.02963C9.4 2.87716 8.52187 4.19865 8.19544 5.70419C7.88006 7.16682 8.45807 9.68687 9.91361 13.1942C10.0867 13.6128 10.3522 13.9802 10.6886 14.2665C11.025 14.5529 11.4228 14.7501 11.8496 14.8421C12.2763 14.9342 12.72 14.9184 13.1445 14.7961C13.5691 14.6738 13.9624 14.4485 14.2926 14.1384C17.0641 11.5426 18.6293 9.48466 18.9447 8.02203C19.2677 6.51575 19.0122 4.94982 18.2342 3.66776C17.4562 2.38571 16.2193 1.49223 14.7948 1.18333ZM13.0819 9.12705C12.6559 9.03519 12.2682 8.81188 11.9679 8.48536C11.6677 8.15885 11.4683 7.74378 11.3949 7.29266C11.3216 6.84154 11.3776 6.37462 11.556 5.95095C11.7343 5.52728 12.0269 5.16589 12.3968 4.91247C12.7667 4.65906 13.1972 4.525 13.634 4.52726C14.0707 4.52951 14.4941 4.66798 14.8505 4.92515C15.207 5.18232 15.4804 5.54663 15.6364 5.97203C15.7924 6.39743 15.8238 6.8648 15.7267 7.31504C15.5965 7.9188 15.2447 8.44889 14.7487 8.78871C14.2527 9.12853 13.6531 9.25023 13.0819 9.12705Z" fill="white"/><clipPath id="clip0_228_709"><rect width="11" height="14" fill="white" transform="translate(9.4231) rotate(12.1683)"/></clipPath></svg>');
  width: 21px;
  height: 38px;
}
.common-template .services-drop .services-drop-container .services-drop-content .services__btn.blog::before {
  content: url('data:image/svg+xml;utf8,<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.25 2.5H6.75C3.3 2.5 0.5 5.3 0.5 8.75V21.25C0.5 24.7 3.3 27.5 6.75 27.5H15.5C16.1875 27.5 16.75 26.9375 16.75 26.25C16.75 25.5625 16.1875 25 15.5 25H6.75C4.6875 25 3 23.3125 3 21.25V11.25H28V17.5C28 18.1875 28.5625 18.75 29.25 18.75C29.9375 18.75 30.5 18.1875 30.5 17.5V8.75C30.5 5.3 27.7 2.5 24.25 2.5ZM3 8.75C3 6.6875 4.6875 5 6.75 5H24.25C26.3125 5 28 6.6875 28 8.75H3Z" fill="white"/><path d="M22.2626 18.2481C21.4616 17.445 20.3901 17 19.2643 17H17.5V18.769C17.5 19.8977 17.9438 20.983 18.7448 21.7752L26.1485 29.1985C27.0686 30.121 28.5731 30.2947 29.5798 29.4699C30.7379 28.5148 30.8029 26.8001 29.7746 25.7691L22.2735 18.2481H22.2626Z" fill="white"/><clipPath id="clip0_228_717"><rect width="30" height="30" fill="white" transform="translate(0.5)"/></clipPath></svg>');
  width: 31px;
  height: 30px;
}
@media (max-width: 550px) {
  .common-template .services-drop .services-drop-container .services-drop-content .services__btn {
    max-width: unset;
  }
}
.common-template .team-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .team-tab .team-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
}
.common-template .team-tab .team-tab-container .container-grid {
  display: grid;
  grid-template-columns: 397px 284px auto auto auto;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "img-top content-top content-top content-top content-top" "img-container img-container content-botom content-botom content-botom";
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .container-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 35px;
  }
  .common-template .team-tab .team-tab-container .container-grid img {
    border-radius: 10px;
  }
}
.common-template .team-tab .team-tab-container .container-grid .img-container {
  display: grid;
  grid-template-columns: 397px 284px;
  grid-template-rows: auto;
  gap: 0px 10px;
  grid-area: img-container;
  grid-template-areas: "img-bottom img-right";
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .container-grid .img-container {
    display: flex;
    justify-content: center;
    gap: 6px;
    order: 4;
  }
}
@media (max-width: 400px) {
  .common-template .team-tab .team-tab-container .container-grid .img-container {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .img-top::before, .common-template .team-tab .team-tab-container .img-top::after,
  .common-template .team-tab .team-tab-container .img-bottom::before,
  .common-template .team-tab .team-tab-container .img-bottom::after {
    content: "";
    position: absolute;
    background: rgb(129, 189, 82);
    border-radius: 10px;
  }
  .common-template .team-tab .team-tab-container .img-top::before,
  .common-template .team-tab .team-tab-container .img-bottom::before {
    top: 0;
    left: 30px;
    width: 50%;
    height: 105%;
    z-index: -2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .common-template .team-tab .team-tab-container .img-top::after,
  .common-template .team-tab .team-tab-container .img-bottom::after {
    top: 0px;
    right: -6px;
    width: 90%;
    height: 105%;
    transform: skewX(4deg);
    z-index: -1;
  }
}
.common-template .team-tab .team-tab-container .img-top {
  grid-area: img-top;
  position: relative;
  z-index: 10;
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .img-top {
    order: 2;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .img-top,
  .common-template .team-tab .team-tab-container .img-top img {
    width: 345px;
    height: 246px;
  }
}
@media (max-width: 400px) {
  .common-template .team-tab .team-tab-container .img-top,
  .common-template .team-tab .team-tab-container .img-top img {
    width: calc(345px - 10%);
    height: calc(246px - 10%);
  }
}
.common-template .team-tab .team-tab-container .img-bottom {
  grid-area: img-bottom;
  position: relative;
  z-index: 10;
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .img-bottom::before {
    height: 103%;
  }
  .common-template .team-tab .team-tab-container .img-bottom::after {
    right: -3px;
    height: 103%;
  }
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .img-bottom,
  .common-template .team-tab .team-tab-container .img-bottom img {
    width: 235px;
    height: 168px;
  }
}
.common-template .team-tab .team-tab-container .img-right {
  grid-area: img-right;
  z-index: 10;
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .img-right,
  .common-template .team-tab .team-tab-container .img-right img {
    width: 149px;
    height: 168px;
  }
}
@media (max-width: 400px) {
  .common-template .team-tab .team-tab-container .img-right,
  .common-template .team-tab .team-tab-container .img-right img {
    width: calc(149px + 35%);
    height: calc(168px + 35%);
  }
}
.common-template .team-tab .team-tab-container .content-top {
  grid-area: content-top;
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .content-top {
    order: 1;
  }
}
.common-template .team-tab .team-tab-container .content-botom {
  grid-area: content-botom;
}
@media (max-width: 1280px) {
  .common-template .team-tab .team-tab-container .content-botom {
    order: 3;
  }
}
.common-template .team-tab .team-tab-container .team-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 60px;
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .team-content {
    padding: 0px;
  }
}
.common-template .team-tab .team-tab-container .team-content.content-botom {
  padding: 30px 0 30px 60px;
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .team-content.content-botom {
    padding: 0px;
  }
}
.common-template .team-tab .team-tab-container .team-content .team-tab__header {
  margin: 0;
  padding: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 67px;
  font-weight: 700;
  line-height: 101px;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .team-content .team-tab__header {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
  }
}
.common-template .team-tab .team-tab-container .team-content .team-tab__p {
  padding: 0;
  margin: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  opacity: 0.8;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .team-tab .team-tab-container .team-content .team-tab__p {
    font-size: 16px;
  }
}
.common-template .collaboration-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .collaboration-tab .collaboration-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
  gap: 50px;
}
@media (max-width: 1270px) {
  .common-template .collaboration-tab .collaboration-tab-container {
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
  gap: 18px;
}
@media (max-width: 850px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content {
    flex: unset;
    width: 100%;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab__header {
  margin: 0;
  padding: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 67px;
  font-weight: 700;
  line-height: 101px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 850px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab__header {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
  }
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab__header {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab__header .collaboration-tab__color {
  color: var(--link-hover, rgb(129, 189, 82));
  margin-top: -30px;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab__header .collaboration-tab__color {
    margin-top: 0px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 850px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab-box {
    gap: 24px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab-box .collaboration-tab__p {
  padding: 0;
  margin: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  opacity: 0.8;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
}
@media (max-width: 850px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-tab-content .collaboration-tab-box .collaboration-tab__p {
    font-size: 16px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form {
  position: relative;
  width: 660px;
  box-sizing: border-box;
  border: 1px solid var(--link-hover-opacity, rgba(129, 189, 82, 0.2));
  border-radius: 13px;
  background: var(--bg-color, rgb(255, 255, 255));
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 38px;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form {
    width: 100%;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form h2 {
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  margin: 0;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form h2 {
    font-size: 22px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group {
  position: relative;
  width: 438px;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group {
    width: unset;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group:not(.link) {
  border-bottom: 1px solid var(--footer-bg-color-opacity, rgba(65, 70, 72, 0.2));
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group:not(.link) label {
  height: 60px;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link {
  display: flex;
  margin: 18px 0;
  justify-content: center;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control {
  display: flex;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control input:checked ~ .control__indicator {
  background: var(--colors-white, rgb(255, 255, 255));
  border: 2px solid var(--link-hover, rgb(129, 189, 82));
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control input:checked ~ .control__indicator:after {
  display: block;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control input:checked ~ .checkbox {
  background: var(--link-hover, rgb(129, 189, 82));
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control .control__indicator {
  position: absolute;
  top: 6px;
  left: -28px;
  height: 12px;
  width: 12px;
  background: var(--colors-white, rgb(255, 255, 255));
}
@media (max-width: 420px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control .control__indicator {
    left: -4px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control .control__indicator.checkbox {
  border: 2px solid var(--colors-gray-200, rgb(229, 228, 226));
  border-radius: 4px;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control .control__indicator:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 2px;
  height: 7px;
  border: solid var(--colors-white, rgb(255, 255, 255));
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link .control .control__indicator.checkbox:hover {
  border: 2px solid var(--link-hover, rgb(129, 189, 82));
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link span {
  font-size: 18px;
  color: var(--form-color, rgb(160, 163, 163));
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 420px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link span {
    margin-left: 20px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link span a {
  color: var(--link-hover, rgb(129, 189, 82));
  text-decoration: underline;
  transition: opacity 0.3s ease;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group.link span a:hover {
  opacity: 0.7;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group label {
  display: block;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group label svg {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group label svg.svg-comment {
  top: 55%;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group input, .common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group textarea {
  width: calc(100% - 75px);
  border: none;
  background: transparent;
  color: var(--form-color, rgb(160, 163, 163));
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group input:focus, .common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group textarea:focus {
  outline: none;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group input {
  height: 39px;
  padding: 10px 15px 10px 60px;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form form .form-group textarea {
  height: 21px;
  padding: 19px 15px 19px 60px;
  resize: none;
  overflow: hidden;
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form .collaboration-for-container {
  padding: 60px 110px;
  border-radius: 13px;
  backdrop-filter: blur(22px);
  background: var(--bg-color-opacity, rgba(255, 255, 255, 0.7));
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form .collaboration-for-container {
    padding: 30px 12px 70px 12px;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form::before, .common-template .collaboration-tab .collaboration-tab-container .collaboration-form::after {
  content: "";
  position: absolute;
  background: rgb(129, 189, 82);
  border-radius: 10px;
  top: 2px;
  height: 105%;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form::before, .common-template .collaboration-tab .collaboration-tab-container .collaboration-form::after {
    top: 2px;
    height: 102%;
  }
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form::before {
  left: 30px;
  width: 50%;
  z-index: -2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.common-template .collaboration-tab .collaboration-tab-container .collaboration-form::after {
  right: -15px;
  width: 90%;
  transform: skewX(4deg);
  z-index: -1;
}
@media (max-width: 720px) {
  .common-template .collaboration-tab .collaboration-tab-container .collaboration-form::after {
    right: -6px;
    transform: skewX(2deg);
  }
}

.frog-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  max-width: 555px;
}
.frog-bg svg {
  width: 552px;
  height: 410px;
  animation: resizeAnimation 2000ms infinite alternate ease-in-out;
}
@media (max-width: 719px) {
  .frog-bg {
    display: none;
  }
}

@keyframes resizeAnimation {
  0% {
    width: 552px;
    height: 410px;
  }
  100% {
    width: calc(552px - 20%);
    height: calc(410px - 20%);
  }
}/*# sourceMappingURL=Home.css.map */