.common-template {
  display: flex;
  flex-direction: column;
}
.common-template .home-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .home-tab .home-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
}
.common-template .home-tab .home-tab-container .home-tab-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 18px;
}
@media (max-width: 719px) {
  .common-template .home-tab .home-tab-container .home-tab-content {
    flex: unset;
    width: 100%;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab__header {
  margin: 0;
  padding: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 67px;
  font-weight: 700;
  line-height: 101px;
  text-align: justify;
}
@media (max-width: 719px) {
  .common-template .home-tab .home-tab-container .home-tab-content .home-tab__header {
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 719px) {
  .common-template .home-tab .home-tab-container .home-tab-content .home-tab-box {
    gap: 24px;
  }
}
.common-template .home-tab .home-tab-container .home-tab-content .home-tab-box .home-tab__p {
  padding: 0;
  margin: 0;
  color: var(--colors-text, rgb(65, 70, 72));
  opacity: 0.8;
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
}
.common-template .home-tab .home-tab-container .frog-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  max-width: 555px;
}
.common-template .home-tab .home-tab-container .frog-bg svg {
  width: 552px;
  height: 410px;
  animation: resizeAnimation 2000ms infinite alternate ease-in-out;
}
@media (max-width: 719px) {
  .common-template .home-tab .home-tab-container .frog-bg {
    display: none;
  }
}
@keyframes resizeAnimation {
  0% {
    width: 552px;
    height: 410px;
  }
  100% {
    width: calc(552px - 20%);
    height: calc(410px - 20%);
  }
}
.common-template .about-list-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.common-template .about-list-tab .about-list-tab-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  gap: 50px 100px;
}
@media (max-width: 1020px) {
  .common-template .about-list-tab .about-list-tab-container {
    gap: 50px;
  }
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container {
    justify-content: center;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  flex: 1 1 calc(33% - 200px);
  max-width: 575px;
  position: relative;
}
@media (max-width: 850px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box {
    flex: unset;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header .about-list__img-container {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__header .about-list__year {
  text-wrap: nowrap;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .about-list__content-p {
  color: var(--colors-text, rgb(65, 70, 72));
  font-size: 14px;
  line-height: 180%;
  text-align: justify;
  padding: 0;
  margin: 0;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box {
  position: absolute;
  top: 0;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box,
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box svg,
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box img {
  width: 111px;
  height: 111px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.mobile {
  opacity: 0;
}
@media (max-width: 1350px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box {
    display: none;
  }
}
@media (max-width: 719px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box {
    display: unset;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.desk {
    opacity: 0;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.mobile {
    opacity: 1;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-1 {
  top: -20px;
  left: -110px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-2 {
  top: -10px;
  left: -110px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-3 {
  top: -20px;
  right: -100px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-4 {
  top: -20px;
  left: -110px;
}
@media (max-width: 719px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-4 {
    top: 20px;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-5 {
  top: -20px;
  left: -110px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box .arrow-box.arrow-6 {
  top: -20px;
  left: -110px;
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .about-list__header .about-list__img-container {
  background: rgb(129, 189, 82);
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .about-list__header .about-list__year {
  color: rgb(129, 189, 82);
}
@media (max-width: 719px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box {
    top: -20px;
    right: 0px;
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box.arrow-2 {
    top: -55px;
    right: -35px;
    left: unset;
    transform: rotate(105deg);
  }
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(odd) .arrow-box.arrow-7 {
    top: -65px;
    transform: scaleX(-1);
  }
}
@media (max-width: 719px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header {
    justify-content: flex-end;
  }
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header .about-list__img-container {
  background: rgb(63, 127, 28);
}
.common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .about-list__header .about-list__year {
  color: rgb(63, 127, 28);
}
@media (max-width: 719px) {
  .common-template .about-list-tab .about-list-tab-container .about-list-box:nth-child(even) .arrow-box {
    left: 10px;
  }
}/*# sourceMappingURL=Home.css.map */