.home-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .home-tab-container {
    display: flex;

    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    position: relative;

    .home-tab-content {
      display: flex;
      flex-direction: column;
      flex: 0 0 calc(50%);
      gap: 18px;

      @media (max-width: 850px) {
        flex: unset;
        width: 100%;
      }

      .home-tab__header {
        margin: 0;
        padding: 0;

        color: var(--colors-text, rgb(65, 70, 72));
        font-size: 67px;
        font-weight: 700;
        line-height: 101px;
        text-align: justify;

        @media (max-width: 850px) {
          font-size: 35px;
          font-weight: 700;
          line-height: 60px;
        }
      }

      .home-tab-box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 850px) {
          gap: 24px;
        }

        .home-tab__p {
          padding: 0;
          margin: 0;
          color: var(--colors-text, rgb(65, 70, 72));
          opacity: 0.8;
          font-size: 18px;
          line-height: 180%;
          text-align: justify;

          @media (max-width: 850px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.about-list-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .about-list-tab-container {
    display: flex;

    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 50px 100px;

    @media (max-width: 1020px) {
      gap: 50px;
    }

    @media (max-width: 850px) {
      justify-content: center;
    }

    .about-list-box {
      display: flex;
      flex-direction: column;
      min-width: 350px;
      flex: 1 1 calc(33% - 200px);
      max-width: 400px;

      position: relative;

      @media (max-width: 850px) {
        flex: unset;
      }

      @media (max-width: 850px) {
        min-width: 250px;
      }

      .about-list__header {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: flex-start;

        @media (max-width: 850px) {
          gap: 12px;
        }

        .about-list__img-container {
          display: flex;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
        }

        .about-list__year {
          text-wrap: nowrap;

          font-size: 48px;
          font-weight: 700;
          line-height: 72px;
          text-align: left;
        }
      }

      .about-list__content-p {
        color: var(--colors-text, rgb(65, 70, 72));
        font-size: 14px;
        line-height: 180%;
        text-align: justify;
        padding: 0;
        margin: 0;
      }

      .arrow-box {
        position: absolute;
        top: 0;

        &.mobile {
          // opacity: 0;
          display: none;
        }

        @media (max-width: 850px) {
          //   display: unset;

          &.desk {
            // opacity: 0;
            display: none;
          }

          &.mobile {
            // opacity: 1;
            display: unset;
          }
        }

        &.arrow-1 {
          top: 10px;
          left: -120px;

          @media (max-width: 850px) {
            transform: rotate(22deg);
          }
        }
        &.arrow-2 {
          top: 30px;
          left: -100px;

          @media (max-width: 1349px) {
            display: none;
          }

          @media (max-width: 850px) {
            display: unset;
          }
        }
        &.arrow-3 {
          top: 10px;
          right: -80px;

          @media (max-width: 1349px) {
            right: 0;
            left: -90px;
          }
        }
        &.arrow-4 {
          top: 10px;
          left: -100px;

          @media (max-width: 1349px) {
            top: 0px;

            left: -90px;
          }

          @media (max-width: 850px) {
            top: 20px;
          }
        }
        &.arrow-5 {
          top: -10px;
          left: -90px;
        }
        &.arrow-6 {
          top: 10px;
          left: -100px;
        }
      }

      &:nth-child(odd) {
        .about-list__header {
          .about-list__img-container {
            background: rgb(129, 189, 82);
          }

          .about-list__year {
            color: rgb(129, 189, 82);
          }
        }

        @media (max-width: 850px) {
          .arrow-box {
            top: -5px;
            right: 60px;

            &.arrow-2 {
              top: -35px;
              right: 10px;
              left: unset;
              transform: rotate(105deg);

              @media (max-width: 420px) {
                top: -45px;
              }
            }

            &.arrow-7 {
              top: -30px;
              right: 85px;
            }
          }
        }
      }

      &:nth-child(even) {
        .about-list__header {
          @media (max-width: 850px) {
            justify-content: flex-end;
          }
          .about-list__img-container {
            background: rgb(63, 127, 28);
          }
          .about-list__year {
            color: rgb(63, 127, 28);
          }
        }

        @media (max-width: 850px) {
          .arrow-box {
            left: 50px;

            &.arrow-1 {
              left: 30px;
            }

            &.arrow-3 {
              width: 84px;
              height: 55px;
              top: -5px;
              transform: rotate(55deg);
            }
          }
        }
      }
    }
  }
}
