.common-template {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;

  @import "../_2-main/home";
  @import "../_2-main/services";
  @import "../_2-main/team";
  @import "../_2-main/collaboration";
  @import "../_2-main/contact";
  @import "../_2-main/news";
  @import "../_2-main/news-specific";
}
