.header {
  display: flex;
  align-items: flex-start;
  user-select: none;
  background: var(--colors-white, rgb(255, 255, 255));

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;

    padding: 12px 50px;
    box-shadow: 0px 4px 20px 0px rgba(239, 239, 239, 0.44);
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 1020px) {
      flex-wrap: wrap;
      padding: 12px 25px;
    }

    .header-left {
      display: flex;
      gap: 12px;
      align-items: center;

      color: var(--colors-text, rgb(65, 70, 72));

      font-size: 24px;
      line-height: 36px;
      text-align: left;

      .header-logo {
        object-fit: contain;
        width: 70px;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      height: 100%;

      @media (max-width: 1020px) {
        width: 100%;
        justify-content: center;
      }

      .header__ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;

        .header__list {
          position: relative;

          .header__link {
            display: flex;
            gap: 4px;
            font-size: 18px;
            line-height: 27px;

            &:not(.header__sub-link) {
              text-wrap: nowrap;
            }

            &:hover,
            &.active {
              color: var(--link-hover, #81bd52);
            }

            &.arrow {
              &::after {
                content: url('data:image/svg+xml;utf8,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L11.7735 0H0.226497L6 10ZM5 0V1H7V0H5Z" fill="%23414648"/></svg>');
                transition: transform 0.5s ease;
              }

              &.active,
              &:hover {
                &::after {
                  content: url('data:image/svg+xml;utf8,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 10L11.7735 0H0.226497L6 10ZM5 0V1H7V0H5Z" fill="%2381bd52"/></svg>');
                  transform: rotate(180deg);
                }
              }
            }
          }

          .header__sub-menu-container {
            display: none;
            position: absolute;
            left: 50%;
            top: 52px;
            min-width: 660px;
            transform: translateX(-50%);
            z-index: 10;

            .header__sub-menu {
              background-color: #fff;
              gap: 16px;
              padding: 16px;
              display: flex;
              flex-wrap: wrap;
              border: 1px solid rgba(128, 189, 81, 0.2);
              border-radius: 22px;
              box-shadow: 0px 0px 40px 0px rgba(207, 207, 207, 0.25);

              @media (max-width: 944px) {
                transform: translateX(-25%);
              }

              .header__sub-list {
                display: flex;
                flex: 1 1 calc(50% - 60px);
                min-width: 260px;

                .header__sub-link {
                  gap: 16px;
                  padding: 16px;
                  border-radius: 22px;

                  &:hover {
                    color: unset;
                  }

                  .sub-list__right {
                    flex-direction: column;
                    display: flex;
                    gap: 8px;

                    .sub-list-name {
                      position: relative;

                      font-size: 18px;
                      line-height: 27px;

                      svg {
                        position: absolute;
                        left: -14px;
                        top: -8px;
                        z-index: 0;
                      }
                    }
                  }

                  .sub-list__bottom {
                    display: flex;

                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                  }

                  &:hover {
                    background-color: rgb(247, 247, 247);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
